# DataSource Config
spring:
  application:
    name: user-center
  datasource:
    url: jdbc:mysql://localhost:3306/blog_first
    username: root
    password: 123456

server:
  port: 8080

# application.yml
mybatis-plus:
  global-config:
    db-config:
      id-type: auto